# Dependencies and build
node_modules
dist
dist-ssr
storybook-static
coverage

# Logs and env
logs
*.log
npm-debug.log*
*.local
.env
.env.*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
